.card {
    border-color: black;
    border: 2px;
    color: black;
    margin-top: 20px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: lightgray;
    color: black;
}

.footer a {
    color: black;
    text-decoration: underline;
}

body {
    background: #f9f9f9;
}

#wrapper {
    padding: 90px 15px;
}

.card {
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
    box-shadow: 0 3px 5px lightgray(0, 0, 0, .1)
}

.leftmenutrigger {
    display: none
}

.navbar {
    background-color: lightgrey !important;
}

.nav-link {
    color: black !important;
}

@media(min-width:992px) {
    .leftmenutrigger {
        display: block;
        display: block;
        margin: 7px 20px 4px 0;
        cursor: pointer;
    }

    #wrapper {
        padding: 90px 15px 15px 15px;
    }

    .navbar-nav.side-nav.open {
        left: 0;
    }

    .navbar-nav.side-nav {
        background: lightgray;
        box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
        position: fixed;
        top: 56px;
        flex-direction: column !important;
        left: -220px;
        width: 200px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#err {
    color: red;
}
.content {
    padding: 0 18px;
    margin-bottom: 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
.collapsible {
    border: none;
}